# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
build

# Environment files
.env
.env.*
!.env.example

# Local files
*.local

# Coverage
coverage

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# VS
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
tmp
temp
.cache